:host { 
    display: contents; 
  }
   
  .login-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
   
  .login-login {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    border-color: rgba(206, 212, 218, 1);
    border-style: solid;
    border-width: 2px;
    border-radius: 8px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-body {
    display: flex;
    align-items: flex-start;
    border-color: rgba(229, 231, 235, 1);
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div10 {
    width: 1440px;
    height: 1002px;
    display: flex;
    position: relative;
    background: linear-gradient(90deg, rgba(255, 251, 235, 1) 0%, rgba(255, 255, 255, 1) 100%);
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
  }
   
  .login-header {
    top: 0px;
    left: 0px;
    width: 1440px;
    height: 60px;
    display: flex;
    position: absolute;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05000000074505806) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-div11 {
    top: 16px;
    left: 80px;
    width: 1280px;
    height: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div12 {
    top: 0px;
    left: 0px;
    width: 155px;
    height: 28px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame10 {
    top: 2px;
    left: 0px;
    width: 27px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame11 {
    width: 27px;
    height: 24px;
  }
   
  .login-text10 {
    top: 2px;
    left: 35px;
    color: rgba(31, 41, 55, 1);
    width: 121px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-nav {
    top: 2px;
    left: 926.859375px;
    width: 353px;
    height: 24px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text11 {
    top: 2px;
    color: rgba(75, 85, 99, 1);
    width: 40px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text12 {
    top: -7px;
    left: 83px;
    color: rgba(75, 85, 99, 1);
    width: 118px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text13 {
    top: 2px;
    left: 208.28125px;
    color: rgba(75, 85, 99, 1);
    width: 50px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text14 {
    top: 2px;
    left: 283.3125px;
    color: rgba(75, 85, 99, 1);
    width: 70px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 16px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-main {
    top: 158px;
    left: 92px;
    width: 1280px;
    height: 562px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div13 {
    top: 48px;
    left: 24px;
    width: 1232px;
    height: 466px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div14 {
    top: 83px;
    left: 0px;
    width: 784px;
    height: 300px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div15 {
    top: 0px;
    left: 0px;
    width: 784px;
    height: 168px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text15 {
    top: -2px;
    color: rgba(31, 41, 55, 1);
    width: 656px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 48px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text16 {
    top: 119px;
    color: rgba(75, 85, 99, 1);
    width: 713px;
    height: auto;
    position: absolute;
    font-size: 18px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div16 {
    top: 200px;
    left: 0px;
    width: 784px;
    height: 100px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div17 {
    top: 24px;
    left: 0px;
    width: 51px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame12 {
    top: 0px;
    left: 15.140625px;
    width: 21px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame13 {
    width: 21px;
    height: 24px;
  }
   
  .login-text17 {
    top: 33px;
    color: rgba(31, 41, 55, 1);
    width: 51px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div18 {
    top: 24px;
    left: 166.859375px;
    width: 50px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame14 {
    top: 0px;
    left: 13.21875px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame15 {
    width: 24px;
    height: 24px;
  }
   
  .login-text18 {
    top: 33px;
    color: rgba(31, 41, 55, 1);
    width: 50px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div19 {
    top: 24px;
    left: 332.859375px;
    width: 67px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame16 {
    top: 0px;
    left: 24.59375px;
    width: 18px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame17 {
    width: 18px;
    height: 24px;
  }
   
  .login-text19 {
    top: 33px;
    color: rgba(31, 41, 55, 1);
    width: 66px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div20 {
    top: 24px;
    left: 515.625px;
    width: 93px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame18 {
    top: 0px;
    left: 34.453125px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame19 {
    width: 24px;
    height: 24px;
  }
   
  .login-text20 {
    top: 33px;
    color: rgba(31, 41, 55, 1);
    width: 92px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div21 {
    top: 24px;
    left: 724.09375px;
    width: 60px;
    height: 52px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame20 {
    top: 0px;
    left: 17.9375px;
    width: 24px;
    height: 24px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame21 {
    width: 24px;
    height: 24px;
  }
   
  .login-text21 {
    top: 33px;
    color: rgba(31, 41, 55, 1);
    width: 59px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div22 {
    top: 0px;
    left: 832px;
    width: 400px;
    height: 466px;
    display: flex;
    position: absolute;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.10000000149011612) ;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-h2 {
    top: 32px;
    left: 32px;
    width: 336px;
    height: 32px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text22 {
    top: 1px;
    color: rgba(31, 41, 55, 1);
    width: 173px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-form {
    top: 88px;
    left: 32px;
    width: 336px;
    height: 330px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div23 {
    top: 0px;
    left: 0px;
    width: 336px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-label1 {
    top: 0px;
    left: 0px;
    width: 336px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text23 {
    top: 1px;
    color: rgba(55, 65, 81, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-input1 {
    top: 24px;
    left: 0px;
    color: rgba(173, 174, 188, 1);
    width: 336px;
    height: 42px;
    display: flex;
    position: absolute;
    font-size: 16px;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-div24 {
    top: 82px;
    left: 0px;
    width: 336px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-label2 {
    top: 0px;
    left: 0px;
    width: 336px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text24 {
    top: 1px;
    color: rgba(55, 65, 81, 1);
    width: 125px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-input2 {
    top: 24px;
    left: 0px;
    color: rgba(173, 174, 188, 1);
    width: 336px;
    height: 42px;
    display: flex;
    position: absolute;
    font-size: 16px;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-div25 {
    top: 164px;
    left: 0px;
    width: 336px;
    height: 66px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-label3 {
    top: 0px;
    left: 0px;
    width: 336px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text25 {
    top: 1px;
    color: rgba(55, 65, 81, 1);
    width: 78px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Medium;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-input3 {
    top: 24px;
    left: 0px;
    color: rgba(173, 174, 188, 1);
    width: 336px;
    height: 42px;
    display: flex;
    position: absolute;
    font-size: 16px;
    text-align: left;
    align-items: flex-start;
    flex-shrink: 0;
    font-family: Inter;
    font-weight: 400;
    border-color: rgba(209, 213, 219, 1);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 1);
  }
   
  .login-button {
    top: 246px;
    left: 0px;
    width: 336px;
    height: 48px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    border-radius: 8px;
    background-color: rgba(245, 158, 11, 1);
  }
   
  .login-text26 {
    left: 53px;
    color: rgba(255, 255, 255, 1);
    width: 222px;
    bottom: 1px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: Medium;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text27 {
    top: 311px;
    left: 63.890625px;
    color: rgba(107, 114, 128, 1);
    width: 209px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: center;
    font-family: Inter;
    font-weight: 400;
    line-height: 14px;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-text28 {
    color: rgba(107, 114, 128, 1);
  }
   
  .login-footer {
    left: 0px;
    width: 1440px;
    bottom: 2px;
    height: 136px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    border-style: solid;
    border-width: 1px 0 0;
    background-color: rgba(249, 250, 251, 1);
  }
   
  .login-div26 {
    top: 1px;
    left: 80px;
    width: 1280px;
    height: 84px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div27 {
    top: 32px;
    left: 24px;
    width: 1232px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-div28 {
    top: 0px;
    left: 0px;
    width: 359px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-text30 {
    top: 1px;
    color: rgba(107, 114, 128, 1);
    width: 355px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: Regular;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
   
  .login-div29 {
    top: 0px;
    left: 1142.5px;
    width: 89px;
    height: 20px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 0;
    border-color: rgba(229, 231, 235, 1);
    background-color: rgba(0, 0, 0, 0);
  }
   
  .login-frame22 {
    top: 0px;
    left: 0px;
    width: 17px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame23 {
    width: 17px;
    height: 20px;
  }
   
  .login-frame24 {
    top: 0px;
    left: 33.5px;
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame25 {
    width: 20px;
    height: 20px;
  }
   
  .login-frame26 {
    top: 0px;
    left: 69.5px;
    width: 20px;
    height: 20px;
    display: flex;
    overflow: hidden;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }
   
  .login-frame27 {
    width: 20px;
    height: 20px;
  }
  