<div class="login-container">
    <div class="login-login">
      <div class="login-body">
        <div class="login-div10">
          <div class="login-header">
            <div class="login-div11">
              <div class="login-div12">
                <div class="login-frame10">
                  <img
                    src="/assets/external/frame1182-fpjq.svg"
                    alt="Frame1182"
                    class="login-frame11"
                  />
                </div>
                <span class="login-text10">RetoChimba</span>
              </div>
              <div class="login-nav">
                <span class="login-text11" routerLink="/home">Inicio</span>
                <span class="login-text12">Cómo Funciona</span>
                <span class="login-text13">Planes</span>
                <span class="login-text14">Contacto</span>
              </div>
            </div>
          </div>
          <div class="login-main">
            <div class="login-div13">
              <div class="login-div14">
                <div class="login-div15">
                  <span class="login-text15">
                    ¡Únete a la revolución de los buenos hábitos!
                  </span>
                  <span class="login-text16">
                    Transforma tu vida con RetoChimba, la plataforma colombiana
                    que hace divertido el cambio.
                  </span>
                </div>
                <div class="login-div16">
                  <div class="login-div17">
                    <div class="login-frame12">
                      <img
                        src="/assets/external/frame1187-dg37.svg"
                        alt="Frame1187"
                        class="login-frame13"
                      />
                    </div>
                    <span class="login-text17">Comida</span>
                  </div>
                  <div class="login-div18">
                    <div class="login-frame14">
                      <img
                        src="/assets/external/frame1187-9vjb.svg"
                        alt="Frame1187"
                        class="login-frame15"
                      />
                    </div>
                    <span class="login-text18">Tiempo</span>
                  </div>
                  <div class="login-div19">
                    <div class="login-frame16">
                      <img
                        src="/assets/external/frame1188-hi58i.svg"
                        alt="Frame1188"
                        class="login-frame17"
                      />
                    </div>
                    <span class="login-text19">Ubicación</span>
                  </div>
                  <div class="login-div20">
                    <div class="login-frame18">
                      <img
                        src="/assets/external/frame1188-w21.svg"
                        alt="Frame1188"
                        class="login-frame19"
                      />
                    </div>
                    <span class="login-text20">Conocimiento</span>
                  </div>
                  <div class="login-div21">
                    <div class="login-frame20">
                      <img
                        src="/assets/external/frame1189-d9gf.svg"
                        alt="Frame1189"
                        class="login-frame21"
                      />
                    </div>
                    <span class="login-text21">Finanzas</span>
                  </div>
                </div>
              </div>
              <div class="login-div22">
                <div class="login-h2">
                  <span class="login-text22">Crea tu cuenta</span>
                </div>
                <div class="login-form">
                  <div class="login-div23">
                    <div class="login-label1">
                      <span class="login-text23">Nombre completo</span>
                    </div>
                    <input
                      type="text"
                      placeholder="Tu nombre"
                      class="login-input1"
                    />
                  </div>
                  <div class="login-div24">
                    <div class="login-label2">
                      <span class="login-text24">Correo electrónico</span>
                    </div>
                    <input
                      type="text"
                      placeholder="tucorreo@ejemplo.com"
                      class="login-input2"
                    />
                  </div>
                  <div class="login-div25">
                    <div class="login-label3">
                      <span class="login-text25">Contraseña</span>
                    </div>
                    <input
                      type="text"
                      placeholder="••••••••"
                      class="login-input3"
                    />
                  </div>
                  <button class="login-button">
                    <span class="login-text26">Comenzar mi transformación</span>
                  </button>
                  <span class="login-text27">
                    <span class="login-text28">¿Ya tienes cuenta?</span>
                    <span>Inicia sesión</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="login-footer">
            <div class="login-div26">
              <div class="login-div27">
                <div class="login-div28">
                  <span class="login-text30">
                    © 2025 RetoChimba. Todos los derechos reservados.
                  </span>
                </div>
                <div class="login-div29">
                  <div class="login-frame22">
                    <img
                      src="/assets/external/frame1186-2ae4.svg"
                      alt="Frame1186"
                      class="login-frame23"
                    />
                  </div>
                  <div class="login-frame24">
                    <img
                      src="/assets/external/frame1186-075.svg"
                      alt="Frame1186"
                      class="login-frame25"
                    />
                  </div>
                  <div class="login-frame26">
                    <img
                      src="/assets/external/frame1186-xua.svg"
                      alt="Frame1186"
                      class="login-frame27"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>  