<div class="container mt-5">
    <div class="bg-pastel-yellow py-4 px-3 rounded" style="min-height: 500px;">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="fw-bold">Precios de Membresía</h2>
      <button class="btn btn-danger" (click)="crearMembresia()">
        <i class="bi bi-plus-circle me-2"></i>Crear Membresía
      </button>
    </div>

    <span class="text-muted d-flex align-items-center">
      <i class="bi bi-person-lines-fill me-2"></i> {{ membresias.length }} Membresías
    </span><br>
  
    <div class="row g-4">
      <div class="col-md-6 col-lg-4" *ngFor="let membresia of membresias">
        <div class="card h-100 shadow-sm position-relative">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{ membresia.tipo }}</h5>
            <p><strong>Precio:</strong> {{ membresia.precio | currency:'COP' }}</p>
            <p><strong>Descripción:</strong> {{ membresia.descripcion }}</p>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-outline-primary btn-sm" (click)="verDetalle(membresia)">
              <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-outline-success btn-sm" (click)="editarMembresia(membresia)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-outline-danger btn-sm" (click)="eliminarMembresia(membresia.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>